[submodule "third-party/sdl"]
	path = third-party/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third-party/vma"]
	path = third-party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm
