/cmake-build-debug/
/dotnet/Crucible-Runtime/Crucible-Runtime/obj/
/test/dotnet/Crucible-Runtime-Tests/.idea/
/test/dotnet/Crucible-Runtime-Tests/Crucible-Runtime-Tests/obj/
/test/dotnet/Crucible-Runtime-Tests/Crucible-Runtime-Tests/bin/
/examples/cube/CubeExample/CubeExample/obj/
/examples/cube/CubeExample/CubeExample/bin/
