/cmake-build-debug/
/cmake-build-release/
/src/crucible/scripting/dotnet/Crucible-Runtime/.idea/
/src/crucible/scripting/dotnet/Crucible-Runtime/Crucible-Runtime/bin/
/src/crucible/scripting/dotnet/Crucible-Runtime/Crucible-Runtime/obj/
/src/crucible/scripting/dotnet/Crucible-Runtime/Crucible-Runtime-Tests/obj/
/src/crucible/scripting/dotnet/Crucible-Runtime/Crucible-Runtime-Tests/bin/
